:root {
  // --color-primary-3: #9da9a0;
  // --color-primary-2: #654c4f;
  --color-primary-1: #149eca;
  --color-primary-1-lighter: #33c2f2;
  // --color-primary-4: #cec075;
  --color-white: #f6f7f9;
  --color-black-lightest: #394152;
  --color-black-lighter: #23272f;
  --color-black: #191b21;
  --color-black-darker: #111316;
  // --color-black: #111;
}
