@import '../../../sass/main.scss';

.active {
  background-color: var(--color-black-lighter);
  // @include pageFadeInAnimation;
  .icon-box {
    &__title {
      color: var(--color-white);
    }
    &__icon {
      animation: iconSlideDown 0.4s;
      color: var(--color-white);
    }
  }
}

.icon-box {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-1);
  transition: color 0.2s;

  &:hover {
    color: var(--color-primary-1-lighter);
  }

  &__title {
    font-size: 1.2rem;
    transition: font-size 0.1s;
    user-select: none;
    text-transform: uppercase;
    font-weight: 700;
    // color: var(--color-white);
  }

  &:hover &__title {
    font-size: 0rem;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    transition: all 0.1s;
    fill: currentColor;
  }

  &__icon-box:hover &__icon {
    height: 5rem;
    width: 5rem;
  }

  // .change {
  // }
}
