.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .none {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    @media (max-width: 41.25em) {
      width: 80%;
    }
  }

  &__title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3rem;

    .item {
      font-size: 2rem;
      &__time {
        font-weight: 700;
      }
    }
  }
}
